// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

// @import url(//"https://fonts.google.com/specimen/IBM+Plex+Mono");

margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}


  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
box-sizing: border-box;
}

html, body {
height: 100%;
width: 80%;
margin: 0 auto;

}



// Mixins

.h4Stylz() {
	font-size: 18px;
	
}

.tdStylz() {
	padding-top: 10px;
	padding-left: 10px;
}


body {
	width: 800px;
}


// Styling for the Nav element

.navMenu {
font-size: 12pt;

nav {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 55%;
	width: 50%;
	padding: 16px;
}
	a {
		text-decoration: none;
		color: black;
	}
}

// Styling for the header element

header {
    width: 100%;
    height: 35em;
    background: lightgrey;
    border-radius: 5px;

	img {
	    width: 25em;
    	padding: 35px;
	}
		h1 {
		    font-size: 30px;
    		margin-left: 30px;
		}
			h4 {
				font-size: 18px;
				padding-bottom: 9px;
				border-bottom: 1pt solid black;
				margin: 2%;
				margin-left: 6%;
			}
				p {
					margin-left: 8%;
				}

}

// Styling for the SectionClass "bodyStuff" container

.bodyStuff {
	display: flex;
	flex-direction: row;
	width: 70%;
	padding-top: 50px;

		.resumeBody {
			width: 70%;

			h4 {
				font-size: 18pt;
				p {
					width: 50%;
					height: auto;
				}
			}

		}	
		
}

// Styling for the .goodStuff table

.goodStuff {
	width: 320px;
    margin: 0px;
    padding-left: 5px;
	
	table {
		width: 400px;
		height: 200px;
		margin-left: 45%;
		tr:nth-child(even) {background-color: #f2f2f2;}
			
			td {
				.tdStylz()

			}
		
	}

		th {
			font-size: 18pt;		
		}	
	
}

// Styling for workHistory table

.workHistory {
	padding-top: 50px;
	width: 700px;
    height: 250px;

		h4 {
			font-size: 18pt;
			padding-bottom: 30px;

		}

		table {
			width: 100%;
			height: 60%;
			tr:nth-child(even) {background-color: #f2f2f2;}

				td {
					.tdStylz()
				}
		}
	
}

// Styling for the footer

footer {
	padding-top: 50px;
	font-size: 12px;
	text-align: center;
}